:root{
    --site-top-color-red: #ae3637;
    --site-top-color-blue: #194a85;
    --site-color-red: #ae3637;/*#bd2921*/
    --site-color-blue: #01367a; /* #294d99 , #003679 */
    --primary: var(--site-color-blue);
    --site-color-footer-blue: #021c3c; /*#294d99*/
    --site-color-red-trans: #dc3545ad;
    --site-color-blue-trans: #1b5693ad;

    /*section 2*/
    --mantralaya-height: 200px;
    
    --slider-height: 26rem;/*418px*/
    --main-slider-right-size: 140px;
    --right-menu-padding: .24rem;
    --left-menu-padding: .58rem 0;

    --menu-height-md: 3rem;
    --menu-height-sm: 70px;
    --menu-color: #194a85;

    --left-menu-color: #3277b2;
    --left-menu-color-hover: black;

    --box-bg-color: #1b5693;

    --logo-text-color: #bd0a0e;

    /*footer section*/
    --footer-bg-color: #abb3be; /*#021c3c*/
    --footer-top-bg-color: #1e4b84;
    --footer-base-bg-color: #053776;
    --site-footer-color-red: white;
    --footer-anchor-text-color: white;
    --footer-anchor-text-color-hover: white;
}

.logo-main {
    height: 3rem;
}

.flag-main {
    height: 4rem;
}

.logo-color{
    color: var(--logo-text-color);
    font-weight:500;
}

.foot-logo-main{
    height: 2rem;
}

.text-white > p{
    color: var(--white);
}

.hover-icon:hover i {
    margin-left: 1rem;
    transition: 1s;
}

.icon-font>i {
    font-size: 2em;
    width: 2rem;
    text-align: center;
}

.text-redish{
    color: var(--site-color-red);
}

.text-bluish{
    color: var(--site-color-blue);
}

.header-area .credit-main-menu::before {
  width: 50%;
  height: 100%;
  background-color: var(--menu-color);
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  z-index: 1; 
}

.bg-main-red {
    background-color: var(--site-color-red);
}
.bg-main-blue {
    color: white;
    background-color: var(--site-color-blue);
}
/*bottom*/
    .btn.bg-main-red i,.btn.bg-main-blue i{
        transition: .5s;
    }
    .btn.bg-main-red:hover i{
        color: var(--site-color-blue);
        transition: .5s;
    }
    .btn.bg-main-blue:hover i{
        color: var(--site-color-red);
        transition: .5s;
    }
    .btn.bg-main-blue:hover,.btn.bg-main-red:hover{
        color: white;
        font-weight: inherit;
        font-size: 16px;
    }
    .btn-hover-main:hover {
        color: var(--white);
        background: var(--site-color-red);
        font-weight: normal;
        font-size: .875rem !important;
    }

/*section 2*/
    .card > .main-hover-card-text {
        top: 0;
        height: 100%;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*bottom: 0;*/
        /*background-color: var(--site-color-blue);*/
    }
    .card > .main-hover-card-text  {
        background-color: #ffffff8a;
        padding: 15px 10px;
        width: 100%;
        transition: 1s;
    }
    .card > .main-hover-card-text, .card > .main-hover-card-text > * > * {
        color: black;
        transition: 1s;
    }

    .card:hover > .main-hover-card-text > * > * {
        transition: 1s;
        color: var(--site-color-blue);
    }

    /*.card:hover > .main-hover-card-text > .post {*/
        /*transition: padding .4s;*/
        /*color: white;*/
    }
/**/

.table-anchor {
    color: var(--site-color-red);
    font-weight: bold;
    font-size: 12px;
    transition: .4s;
}

.table-anchor:hover {
    color: var(--site-color-blue);
    font-weight: bold;
    font-size: 12px;
}
/*social icon*/

    .template-demo>.btn {
        margin-right: 0.5rem !important
    }

    .template-demo {
        margin-top: 0.5rem !important
    }

    .btn.btn-rounded {
        border-radius: 50px
    }

    .btn-outline-facebook {
        border: 1px solid #3b579d;
        color: #3b579d
    }

    .btn-outline-facebook:hover {
        background: #3b579d;
        color: #ffffff
    }

    .btn-outline-youtube {
        border: 1px solid #e52d27;
        color: #e52d27
    }

    .btn-outline-twitter {
        border: 1px solid #2caae1;
        color: #2caae1
    }

    .btn-outline-dribbble {
        border: 1px solid #ea4c89;
        color: #ea4c89
    }

    .btn-outline-linkedin {
        border: 1px solid #0177b5;
        color: #0177b5
    }

    .btn-outline-instagram {
        border: 1px solid #dc4a38;
        color: #dc4a38
    }

    .btn-outline-twitter:hover {
        background: #2caae1;
        color: #ffffff
    }

    .btn-outline-linkedin:hover {
        background: #0177b5;
        color: #ffffff
    }

    .btn-outline-youtube:hover {
        background: #e52d27;
        color: #ffffff
    }

    .btn-outline-instagram:hover {
        background: #e52d27;
        color: #ffffff
    }

    .btn-facebook {
        background: #3b579d;
        color: #ffffff
    }

    .btn-youtube {
        background: #e52d27;
        color: #ffffff
    }

    .btn-twitter {
        background: #2caae1;
        color: #ffffff
    }

    .btn-dribbble {
        background: #ea4c89;
        color: #ffffff
    }

    .btn-linkedin {
        background: #0177b5;
        color: #ffffff
    }

    .btn-instagram {
        background: #dc4a38;
        color: #ffffff
    }

    .btn-facebook:hover,
    .btn-facebook:focus {
        background: #2d4278;
        color: #ffffff
    }

    .btn-youtube:hover,
    .btn-youtube:focus {
        background: #c21d17;
        color: #ffffff
    }

    .btn-twitter:hover,
    .btn-twitter:focus {
        background: #1b8dbf;
        color: #ffffff
    }

    .btn-dribbble:hover,
    .btn-dribbble:focus {
        background: #e51e6b;
        color: #ffffff
    }

    .btn-linkedin:hover,
    .btn-linkedin:focus {
        background: #015682;
        color: #ffffff
    }

    .btn-instagram:hover,
    .btn-instagram:focus {
        background: #bf3322;
        color: #ffffff
    }

/*slider*/
    .owl-carousel2 > .owl-stage-outer{
        height: auto;
    }
    .owl-stage-outer{
        height: var(--slider-height);
    }
    .hero-area{
        /*box-shadow: -4px 1px 4px rgba(0, 0, 0, 0.16), -4px 1px 4px rgba(0, 0, 0, 0.23);*/
    }

    .single-slide .welcome-text h2 {
        font-size: 2rem;
    }

    .single-slide .welcome-text h2 {
        margin-bottom: 0;
    }
    .single-slide .welcome-text p {
        margin-bottom: 70px;
        color: #ae3635;
        border-radius: 8px;
    }

    .bg-main-trans-light{
        background-color: #ffffffd7;
    }

/*list*/
    .items {
        width: auto;
        background: #fffffe;
        box-shadow: -4px 1px 4px rgba(0, 0, 0, 0.16), -4px 1px 4px rgba(0, 0, 0, 0.23);
        /*border-top: 10px solid var(--site-color-red);*/
        /*border-bottom: 1px solid var(--site-color-red);*/
        z-index: 9;
        height: var(--slider-height);
        overflow: hidden;
        /*overflow-y: hidden;*/
    }

    .items-head p {
        padding: 5px 20px;
        margin: 10px;
        color: var(--site-color-red);
        font-weight: bold;
        font-size: 20px;
    }

    .items-head hr {
        width: 20%;
        margin: -0px 30px;
        border: 1px solid var(--site-color-red);
    }

    .items-body {
        /*padding: 10px;*/
        /*margin: 10px;*/
        display: grid;
        /*grid-gap: 5px;*/
        margin: 0px 6px 5px 5px;
    }
    .items-body-content {
        background: linear-gradient(to top, var(--left-menu-color),var(--left-menu-color));
        color: white !important;
        /*padding: 1.3vh;*/
        /*padding-right: 0px;*/
        padding: 0 10px;
        display: grid;
        font-size: 15px;
        font-weight: normal;
        transition: color 0.4s;
        /*box-shadow: 0px 1px 4px 0px #dbdbdb;*/
    }


    .items-body-content span {
        padding: var(--left-menu-padding);
        border-bottom: 1px solid #dbdbdb;
    }

    .items-body-content:hover, .items-body-content:focus {
        /*box-shadow: 0px 0px 0px 1px var(--site-color-blue);*/
        font-weight: normal !important;
        font-size: 15px !important;
        color: var(--left-menu-color-hover) !important;
    }

/*scroll design*/
    .items::-webkit-scrollbar, .profile-main::-webkit-scrollbar {
        width: .4em;
    }

    .items::-webkit-scrollbar-track, .profile-main::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px transparent;
    }

    .items::-webkit-scrollbar-thumb, .profile-main::-webkit-scrollbar-thumb {
        background-color: var(--site-color-blue);
        outline: 1px solid slategrey;
    }

/*right profile slider section*/
    .profile-main{
        /*z-index: 9;*/
        height: var(--slider-height);
        overflow-y: hidden;
        /*width: 10rem;*/
    }

    .main-card-img {
        width: 12rem;
    }
    
/*effect section*/
    .card-main-body{
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        transition: all .7s;
        background-color: var(--left-menu-color);
        text-align: center;
        color: white;
        padding: .2rem 0 0 0;
    }
    .card-main-body *{
        color: white;
    }
    .card-main-body .title{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        /*text-transform: uppercase;*/
        text-shadow: 0 0 3px #000;
        margin: 0 0 3px 0;
    }
    .card-main-body .post{
        color: #fff;
        font-size: 12px;
        font-style: italic;
        /*text-transform: capitalize;*/
        text-shadow: 0 0 3px #000;
    }
    .box{
        font-family: 'Merriweather Sans', sans-serif;
        text-align: center;
        overflow: hidden;
        position: relative;
        /*margin-bottom: 1.8rem;*/
    }
    .box:before{
        content: '';
        background-image: repeating-linear-gradient(-30deg,var(--site-color-blue), var(--site-color-blue) 5%, var(--site-color-blue) 10%);
        width: 120%;
        height: 140%;
        border-radius: 25px;
        box-shadow: 0 0 15px #000;
        opacity: 0.7;
        transform: rotate(0deg);
        position: absolute;
        top: 0;
        right: 155%;
        z-index: 1;
        transition: all .4s;
    }
    .box:hover:before{
        transform: rotate(55deg);
        right: -44%;
    }
    .box img{
        width: 100%;
        height: 100%;
        transition: all .2s;
    }
    .box:hover img{ transform: rotate(10deg) scale(1.3); }
    /*.box:hover .main-title{
        display: none;
        transition: 2s;
    }*/
    .box .box-content{
        width: 100%;
        /*opacity: 0;*/
        /*transform: translateY(-50%) rotate(-55deg);*/
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        transition: all .7s;
        background-color: var(--left-menu-color);
    }
    .box:hover .box-content{
        opacity: 1;
        transform: translateY(-50%) rotate(0deg);
        background-color: transparent;
        top: 50%;
        right: 10px;
        width: 60%;
    }
    .box .title{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 0 3px #000;
        margin: 0 0 3px 0;
    }
    .box .post{
        color: #fff;
        font-size: 12px;
        font-style: italic;
        text-transform: capitalize;
        text-shadow: 0 0 3px #000;
    }
    .box .icon{
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .box .icon li{
        opacity: 0;
        transition: all 0.3s;
    }
    .box:hover .icon li:nth-child(1){ transition-delay: 0.15s; }
    .box:hover .icon li:nth-child(2){ transition-delay: 0.25s; }
    .box:hover .icon li{
        opacity: 1;
        transform: translateY(0) rotate(352deg);
    }
    .box .icon li a{
        /*color: #fff;*/
        /*background-color: var(--site-color-blue);*/
        /*line-height: 30px;*/
        height: 35px;
        width: 35px;
        margin: 0 0 10px;
        border: 2px solid transparent;
        /*box-shadow: 3px 3px 5px #555;*/
        /*border-radius: 50%;*/
        display: block;
        transition: all 0.3s;
    }
    .box .icon li a:hover{
        /*color: var(--site-color-blue);
        background-color: #fff;
        border-color: var(--site-color-blue);*/
    }
    @media only screen and (max-width:990px){
        .box { margin: 0 0 30px; }
    }
    @media only screen and (max-width:479px){
        .box .title{ font-size: 18px; }
        .box .post{ font-size: 15px; }
    }

/*footer*/
    .footer-border{
        position: relative;
        top: 0;
        left: 0;
        height: 165px;
        background-color: var(--footer-bg-color);
        -webkit-mask-image: url('../img/foot2.png');
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-image: url('../img/foot2.png');
        mask-size: 100%;
        mask-repeat: no-repeat;
    }
    .footer-area .copywrite-area{
        background-color: var(--footer-base-bg-color);
        border-top: 0;
    }
    .footer-area .copywrite-area .copywrite-text, 
    .footer-area .copywrite-area .copywrite-text a {
        font-size: 1.1rem;
        color: var(--footer-anchor-text-color);
    }
    .text-footer-danger {
        color: var(--footer-anchor-text-color);
    }
    .text-footer-danger:hover {
        color: var(--footer-anchor-text-color-hover);
    }
    .footer-area {
        background-color: var(--footer-top-bg-color);
        border-top: 3rem solid var(--footer-bg-color);
    }
    .news-content:hover > .icon-foot{
        margin-right: 0.4rem;
        transition: 1s;
        transition-delay: 0.3s;
        color: var(--site-color-red) !important;
    }

    @media only screen and (max-width: 767px) {
        .footer-border{
            position: relative;
            top: 0;
            left: 0;
            height: 42px;

            background-color: var(--site-color-footer-blue);
            -webkit-mask-image: url('../img/footer.png');
            -webkit-mask-size: 100%;
            -webkit-mask-repeat: no-repeat;
            mask-image: url('../img/footer.png');
            mask-size: 100%;
            mask-repeat: no-repeat;
        }
    }

/*member round*/
    .icon-img{
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        max-width: 60px;
        width: auto;
        height: 60px;
        object-fit: fill;
        object-position: center;
        /*background-color: var(--site-color-blue);*/
    }

/*header-top*/
    /*header*/
    .site-blocks-cover.inner-page-top, .site-blocks-cover.inner-page-top .row {
        min-height: 0 !important;
        height: calc(330px) !important;
    }

    /*header*/
    .header-holder{
      padding: 5px 0;
      background: var(--site-top-color-red);
    }

    .notice-block{
      line-height: 28px;
      overflow: hidden;
    }
    .notice-block .title{
      /*float: left;*/
      margin-right: 8px;
    }
    ul.marquee {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 1;
      position: relative;
      overflow: hidden;
      font-size: 16px;
      line-height: 28px;
      height: 28px;
    }
    .notice-block ul.marquee a{
      color: #fff;
    }
    ul.marquee a:hover{
      color: #333;
    }
    ul.marquee li {
      position: absolute;
      top: -999em;
      left: 0;
      display: block;
      white-space: nowrap;
    }

    .flash-box {
      height: 30px;
      margin: 0 auto;
      padding-top: 0px;
      position: relative; 
      background: var(--site-top-color-blue);
      color: #fff;
      font-weight: bolder;
      /*font-size: 12px;*/
      /*letter-spacing: 0.2em;*/
      text-align: center;
      text-transform: uppercase;
      /*list-style:none;*/
      z-index: 9;
    }
    .flash-box:before {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
    .flash-box:after {
      content: ' ';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 14px solid var(--site-top-color-red);
      border-left: 15px solid transparent;
      border-bottom: 16px solid var(--site-top-color-red);
    }

    .top-header a:hover{
        font-size: 14px !important;
    }

     @media only screen and (max-width: 767px) {
        .main-d-sm-none{
                display: none;
        }
    }

/* tab  */
    .nav-pills-custom .nav-link {
        color: #aaa;
        background: #fff;
        position: relative;
    }

    .nav-pills-custom .nav-link.active {
        color: var(--site-color-red);
        background: var(--site-color-blue);
    }


    /* Add indicator arrow for the active tab */
    @media (min-width: 992px) {
        .nav-pills-custom .nav-link::before {
            content: '';
            display: block;
            border-top: 8px solid transparent;
            border-left: 10px solid var(--site-color-blue);
            border-bottom: 8px solid transparent;
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            opacity: 0;
        }
    }

    .nav-pills-custom .nav-link.active::before {
        opacity: 1;
    }
/* list top */
    .list-item-parent {
        height: var(--slider-height);
    }
    .list-item-top {
        width: auto;
        background: #fffffe;
        /*border-top: 10px solid var(--site-color-red);*/
        /*border-bottom: 1px solid var(--site-color-red);*/
    }

    .list-item-head-top{
        margin-bottom: .6rem;
    }

    .list-item-head-top p {
        padding: 0px 20px;
        /*margin: 10px;*/
        margin-bottom: 0 !important;
        color: var(--white);
        background: #bd2821;
        font-weight: 600;
        font-size: 14px;
    }


    .list-item-body-top {
        /*padding: 10px;*/
        display: grid;
        /*height: 100%;*/
        /*grid-gap: 5px;*/
    }

    .list-item-top > .list-item-body-top > .list-item-body-content-top {
        border: 1px solid #dadada;
        border-bottom: 1px solid transparent;
    }
    .list-item-top > .list-item-body-top > .list-item-body-content-top:hover {
        border: 1px solid var(--site-color-red);
    }
    .list-item-top > .list-item-body-top:last-child > .list-item-body-content-top {
        border-bottom: 1px solid #dadada;
    }
    .list-item-top > .list-item-body-top:last-child > .list-item-body-content-top:hover {
        border: 1px solid var(--site-color-red);
    }
    .list-item-body-content-top {
        padding: var(--right-menu-padding);
        padding-right: 5px;
        padding-left: 25px;
        display: grid;
        /*grid-template-columns: 1fr 10fr;*/
        font-size: 13px;
        font-weight: 600;
        grid-gap: 0px;
        cursor: pointer;
    }

    .list-item-body-content-top:hover,
    .list-item-body-content-top:focus {
        /*border: 1px solid var(--site-color-red);*/
        font-weight: 600; 
        font-size: 13px;
    }

    .list-item-body-content-top i {
        align-self: center;
        font-size: 15px;
        color: var(--site-color-red);
        font-weight: bold;
        animation: icon 1.5s infinite forwards;
    }
    
/* end list top */

/* list section */
    .list-item {
        width: auto;
        background: #fffffe;
        /*border-top: 10px solid var(--site-color-red);*/
        /*border-bottom: 1px solid var(--site-color-red);*/
    }

    .list-item-head p {
        padding: 0px 20px;
        /*margin: 10px;*/
        margin-bottom: 0 !important;
        color: var(--white);
        background: #bd2821;
        font-weight: bold;
        font-size: 16px;
    }

    .list-item-head hr {
        width: 20%;
        margin: -0px 30px;
        border: 1px solid var(--site-color-red);
    }

    .list-item-body {
        /*padding: 10px;*/
        /*margin: 10px;*/
        display: grid;
        /*grid-gap: 5px;*/
    }

    .list-item-body-content {
        padding: 3px;
        padding-right: 5px;
        display: grid;
        grid-template-columns: 0.6fr 10fr;
        font-size: 13px;
        font-weight: normal;
        grid-gap: 0px;
        border-bottom: 1px solid #dadada;
        cursor: pointer;
    }

    .list-item-body-content:hover {
        /*border-radius: 15px;*/
        box-shadow: 0px 0px 0px 1px var(--site-color-red);
        /*border: 1px solid var(--site-color-red);*/
         font-weight: normal; 
        font-size: 13px;
    }

    .list-item-body-content i {
        align-self: center;
        font-size: 15px;
        color: var(--site-color-red);
        font-weight: bold;
        animation: icon 1.5s infinite forwards;
    }

    @keyframes icon {
        0%, 100% {
            transform: translate(0px);
        }
        50% {
            transform: translate(3px);
        }
    }

/*breadcrumb*/
    .breadcrumb-main .breadcrumb .breadcrumb-item:nth-child(2)::before{
        content: "";
    }
    .breadcrumb-main .breadcrumb-item a,.breadcrumb-main .breadcrumb-item a i{
        color: var(--site-color-blue);
        transition: .5s;
    }
    .breadcrumb-main .breadcrumb-item.active a,.breadcrumb-main .breadcrumb-item.active a:hover{
        color: black;
    }
    .breadcrumb-main .breadcrumb-item a:hover{
        color: var(--site-color-red);
    }
    .breadcrumb-main .breadcrumb-item a i:hover{
        color: var(--site-color-red);
        transition: .5s;
        text-shadow: 0px 2px 4px var(--site-color-blue);
    }

/*table*/
    .vertical-align-middle, 
    .vertical-align-middle > td, 
    .vertical-align-middle > th,
    .vertical-align-middle > tr > td, 
    .vertical-align-middle > tr > th 
    {
      vertical-align: middle !important;
    }

/*list page*/
    .main-card {
        /*width: 400px;*/
        border: none;
        border-radius: 10px;
        background-color: #fff
    }

    .main-stats {
        background: #f2f5f8 !important;
        color: #000 !important
    }

    .main-articles {
        font-size: 10px;
        color: #a1aab9
    }

    .main-number1 {
        font-weight: 500
    }

    .main-followers {
        font-size: 10px;
        color: #a1aab9
    }

    .main-number2 {
        font-weight: 500
    }

    .main-rating {
        font-size: 10px;
        color: #a1aab9
    }

    .main-number3 {
        font-weight: 500
    }

/* breadcrumb */

/* title header */
    .title-head-main{
        background-color: #184984;
        font-size: 1.5rem;
        color: white;
    }
    .title-head-main span{
        font-size: 2rem;
        margin-right: .5rem;
        background-color: white;
        color: black;
        padding: .3rem;
    }
    .btn-title-stlye {
        background-color: #bd2821;
        color: white;
        font-size: 1rem;
        padding: .5rem .8rem;
        border-radius: .4rem;
        vertical-align: middle;
    }
    .btn-title-stlye i{
        font-size: 1.5rem;
        margin-right: .4rem;
    }

/* end title header */

/*gis section*/
    .gis-block-main.blue{
        background: #007aff;
    }
    .gis-block-main.green{
        background: #29a744;
    }
    .gis-block-main.cadetblue{
        background: #17a2b9;
    }
    .gis-block-main.yellow{
        background: #fec107;
    }
    .gis-block-main.silver{
        background: #6c757e;
    }
    
    .gis-block-main {
        color: white;
        border-radius: 1.3rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        /*margin: .06rem;*/
        border: .06rem solid #f8f9fa;
    }
    .gis-block-main i {
        font-size: 2.5rem;
        color: #ffffffb0;
    }
    .gis-block-main small {
        font-size: .9rem;
        font-weight: 600;
    }
/*end gis section*/
/*gunaso question section*/
    .quest-block-main.blue{
        background: #0062cd;
    }
    .quest-block-main.red{
        background: #dc3546;
    }
    .quest-block-main.green{
        background: #29a744;
    }
    .quest-block-main.yellow{
        background: #fa9f10;
    }
    .quest-block-main.purple{
        background: #81007f;
    }
    
    .quest-block-main {
        color: white;
        border-radius: .8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        /*margin: .06rem;*/
        border: .30rem solid #f8f9fa;
    }
    .quest-block-main i {
        font-size: 1.6rem;
        color: white;
    }
    .quest-block-main small {
        font-size: .9rem;
        font-weight: 600;
    }

    .btn-graph {
        color: white;
        background-color: #0062cd;
        padding: .5rem 1.5rem;
        border-radius: 2rem;
        font-size: .9rem;
        float: right;
    }
    .btn-graph:hover{
        font-size: .9rem;
        font-weight: bold;
    }
/*end gunaso question section*/

/* other */
    .credit-btn:hover, .credit-btn:focus{
        background-color: white;
        color: var(--site-color-red);
    }

    .section-main-2{
        height: var(--mantralaya-height);
        object-fit: cover;
        object-position: center center;
        transition: 1s;
    }
    a.section-2-area{
        height: var(--mantralaya-height);
        object-fit: cover;
        object-position: center center; 
        overflow: hidden;
    }
    a:hover > .section-main-2{
        transform: scale(1.1);
        transition: 1s;
    }

/*slider*/
    .owl-carousel .owl-nav.disabled {
        display: contents;
    }
    .owl-carousel .nav-btn{
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 80px !important;
    }

    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled{
        pointer-events: none;
        opacity: 0.2;
    }

    .owl-carousel .prev-slide{
        background: url(../nav-icon.png) no-repeat scroll 0 0;
        left: -14px;
        background-position: 5px -28px;
        opacity: .6;
    }
    .owl-carousel .next-slide{
        background: url(../nav-icon.png) no-repeat scroll -24px 0px;
        right: -14px;
        background-position: 5px -28px;
        transform: rotate(180deg);
        opacity: .6;
    }
    .owl-carousel .prev-slide:hover{
        opacity: 1;
        transition: 1s;
    }
    .owl-carousel .next-slide:hover{
        opacity: 1;
        transition: 1s;
    } 